In [80]:
import pandas as pd
import os
import numpy as np

In [81]:
schools_data = os.path.join("Resources/schools_complete.csv")
schools = pd.read_csv(schools_data)
student_data = os.path.join("Resources/students_complete.csv")
students = pd.read_csv(student_data)
school_data = pd.merge(students,schools,how="left", on=["school_name", "school_name"])
school_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [82]:
unique_schools = school_data["school_name"].unique()
total_schools = len(unique_schools)
total_students = len(school_data["student_name"])
total_budget = schools["budget"].sum()
ave_math = school_data["math_score"].mean()
ave_read = school_data["reading_score"].mean()

In [83]:
PassingM = school_data.loc[school_data["math_score"] >= 70]
PassMath = len(PassingM["Student ID"])
PercentMath = (PassMath / total_students)*100
PercentMath

74.9808526933878

In [84]:
PassingR = school_data.loc[school_data["reading_score"] >= 70]
PassRead = len(PassingR["Student ID"])
PercentRead = (PassRead / total_students)*100
PercentRead

85.80546336482001

In [85]:
PassingBoth = school_data[(school_data["math_score"] >= 70) & (school_data["reading_score"] >= 70)]
PassBoth = PassingBoth['Student ID'].count()
PerBoth = (PassBoth/total_students)*100
PerBoth

65.17232575950983

In [86]:
DistrictSum_df = pd.DataFrame(
    {"Total Schools": total_schools,
    "Total Students" : total_students,
    "Total Budget" : total_budget,
    "Average Math Score" : ave_math,
    "Average Reading Score" : ave_read,
    "% Passing Math" : PercentMath,
    "% Passing Reading": PercentRead,
    "% Overall Passing" : PerBoth}, index = [0])
DistrictSum_df.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [87]:
sn = school_data.set_index(["school_name"])
schoolname = sn.groupby(["school_name"])
schoolname.head()

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Huang High School,0,Paul Bradley,M,9th,66,79,0,District,2917,1910635
Huang High School,1,Victor Smith,M,12th,94,61,0,District,2917,1910635
Huang High School,2,Kevin Rodriguez,M,12th,90,60,0,District,2917,1910635
Huang High School,3,Dr. Richard Scott,M,12th,67,58,0,District,2917,1910635
Huang High School,4,Bonnie Ray,F,9th,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...
Thomas High School,37535,Norma Mata,F,10th,76,76,14,Charter,1635,1043130
Thomas High School,37536,Cody Miller,M,11th,84,82,14,Charter,1635,1043130
Thomas High School,37537,Erik Snyder,M,9th,80,90,14,Charter,1635,1043130
Thomas High School,37538,Tanya Martinez,F,9th,71,69,14,Charter,1635,1043130
Thomas High School,37539,Noah Erickson,M,9th,86,76,14,Charter,1635,1043130

In [128]:
schooltype = schoolname["type"].unique()
totalstudents = schoolname["size"].unique()
totalbudget = schoolname["budget"].unique()
#perstu = (sn["budget"]/sn["size"])
ave_math_score = schoolname["math_score"].mean()
ave_read_score = schoolname["reading_score"].mean()
schooltype.head()

school_name
Bailey High School      [District]
Cabrera High School      [Charter]
Figueroa High School    [District]
Ford High School        [District]
Griffin High School      [Charter]
Name: type, dtype: object

In [122]:
PassingM = sn[sn["math_score"] >= 70].groupby("school_name")
passingmath = PassingM["Student ID"].count()
PctMath = (passingmath / totalstudents)*100
PassingR = sn[sn["reading_score"] >= 70].groupby("school_name")
passingread = PassingR["Student ID"].count()
PctRead = (passingread / totalstudents)*100

In [123]:
PassingB = sn[(sn["math_score"] >= 70) & (sn["reading_score"] >= 70)].groupby("school_name")
passingboth = PassingB["Student ID"].count()
PctBoth = (passingboth / totalstudents)*100
PctBoth.head()

school_name
Bailey High School       [54.64228295819936]
Cabrera High School      [91.33476856835307]
Figueroa High School     [53.20447609359105]
Ford High School        [54.289886820007304]
Griffin High School      [90.59945504087193]
dtype: object

In [141]:
school_summary = pd.DataFrame({
    "School Type": schooltype,
    "Total Students" : totalstudents,
    "Total School Budget" : totalbudget,
    "Average Math Score" : ave_math_score,
    "Average Reading Score" : ave_read_score,
    "% Passing Math" : PctMath,
    "% Passing Reading": PctRead,
    "% Overall Passing" : PctBoth})
school_summary["Total Students"] = school_summary["Total Students"].astype(float)
school_summary["Total School Budget"] = school_summary["Total School Budget"].astype(float)
school_summary["Average Math Score"] = school_summary["Average Math Score"].astype(float)
school_summary["Average Reading Score"] = school_summary["Average Reading Score"].astype(float)
school_summary["% Passing Math"] = school_summary["% Passing Math"].astype(float)
school_summary["% Passing Reading"] = school_summary["% Passing Reading"].astype(float)
school_summary["% Overall Passing"] = school_summary["% Overall Passing"].astype(float)
school_summary["School Type"] = school_summary["School Type"].astype(str)
school_summary["School Type"] = school_summary["School Type"].str[2:-2]
school_summary.head()

,School Type,Total Students,Total School Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,
Bailey High School,District,4976.0,3124928.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858.0,1081356.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949.0,1884411.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739.0,1763916.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468.0,917500.0,83.351499,83.816757,93.392371,97.138965,90.599455

In [142]:
top_schools = school_summary.sort_values(["% Overall Passing"], ascending = False)
top_schools.head(5)

,School Type,Total Students,Total School Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,
Cabrera High School,Charter,1858.0,1081356.0,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635.0,1043130.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468.0,917500.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283.0,1319574.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962.0,585858.0,83.839917,84.044699,94.594595,95.945946,90.540541

In [143]:
bottom_schools = school_summary.sort_values(["% Overall Passing"], ascending = True)
bottom_schools.head(5)

,School Type,Total Students,Total School Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,
Rodriguez High School,District,3999.0,2547363.0,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949.0,1884411.0,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917.0,1910635.0,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635.0,3022020.0,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761.0,3094650.0,77.072464,80.966394,66.057551,81.222432,53.539172