In [121]:
import pandas as pd
import os

In [122]:
schools_data = os.path.join("Resources/schools_complete.csv")
schools = pd.read_csv(schools_data)
student_data = os.path.join("Resources/students_complete.csv")
students = pd.read_csv(student_data)
school_data = pd.merge(students,schools,how="left", on=["school_name", "school_name"])
school_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [123]:
unique_schools = school_data["school_name"].unique()
total_schools = len(unique_schools)
total_students = len(school_data["student_name"])
total_budget = schools["budget"].sum()
ave_math = school_data["math_score"].mean()
ave_read = school_data["reading_score"].mean()

In [124]:
PassingM = []
for score in school_data["math_score"]:
    if score >= 70:
        PassingM.append("Student ID")
PassMath = len(PassingM)
PercentMath = (PassMath / total_students)*100
PercentMath

74.9808526933878

In [125]:
PassingR = []
for score in school_data["reading_score"]:
    if score >= 70:
        PassingR.append(school_data["Student ID"])
PassRead = len(PassingR)
PercentRead = (PassRead / total_students)*100
PercentRead

85.80546336482001

In [137]:
PassBoth = school_data[(school_data["math_score"] >= 70) & (school_data["reading_score"] >= 70)]['Student ID'].count()
PerBoth = (PassBoth/total_students)*100
PerBoth

65.17232575950983

In [146]:
DistrictSum_df = pd.DataFrame(
    {"Total Schools": total_schools,
    "Total Students" : total_students,
    "Total Budget" : total_budget,
    "Average Math Score" : ave_math,
    "Average Reading Score" : ave_read,
    "% Passing Math" : PercentMath,
    "% Passing Reading": PercentRead,
    "% Overall Passing" : PerBoth}, index = [0])
DistrictSum_df.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326