In [1]:
import pandas as pd
import os
import numpy as np

In [2]:
schools_data = os.path.join("Resources/schools_complete.csv")
schools = pd.read_csv(schools_data)
student_data = os.path.join("Resources/students_complete.csv")
students = pd.read_csv(student_data)
school_data = pd.merge(students,schools,how="left", on=["school_name", "school_name"])
school_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [3]:
unique_schools = school_data["school_name"].unique()
total_schools = len(unique_schools)
total_students = len(school_data["student_name"])
total_budget = schools["budget"].sum()
ave_math = school_data["math_score"].mean()
ave_read = school_data["reading_score"].mean()

In [4]:
PassingM = school_data.loc[school_data["math_score"] >= 70]
PassMath = len(PassingM["Student ID"])
PercentMath = (PassMath / total_students)*100
PercentMath

74.9808526933878

In [5]:
PassingR = school_data.loc[school_data["reading_score"] >= 70]
PassRead = len(PassingR["Student ID"])
PercentRead = (PassRead / total_students)*100
PercentRead

85.80546336482001

In [6]:
PassingBoth = school_data[(school_data["math_score"] >= 70) & (school_data["reading_score"] >= 70)]
PassBoth = PassingBoth['Student ID'].count()
PerBoth = (PassBoth/total_students)*100
PerBoth

65.17232575950983

In [7]:
DistrictSum_df = pd.DataFrame(
    {"Total Schools": total_schools,
    "Total Students" : total_students,
    "Total Budget" : total_budget,
    "Average Math Score" : ave_math,
    "Average Reading Score" : ave_read,
    "% Passing Math" : PercentMath,
    "% Passing Reading": PercentRead,
    "% Overall Passing" : PerBoth}, index = [0])
DistrictSum_df.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [8]:
sn = school_data.set_index(["school_name"])
schoolname = sn.groupby(["school_name"])
schoolname.head()

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Huang High School,0,Paul Bradley,M,9th,66,79,0,District,2917,1910635
Huang High School,1,Victor Smith,M,12th,94,61,0,District,2917,1910635
Huang High School,2,Kevin Rodriguez,M,12th,90,60,0,District,2917,1910635
Huang High School,3,Dr. Richard Scott,M,12th,67,58,0,District,2917,1910635
Huang High School,4,Bonnie Ray,F,9th,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...
Thomas High School,37535,Norma Mata,F,10th,76,76,14,Charter,1635,1043130
Thomas High School,37536,Cody Miller,M,11th,84,82,14,Charter,1635,1043130
Thomas High School,37537,Erik Snyder,M,9th,80,90,14,Charter,1635,1043130
Thomas High School,37538,Tanya Martinez,F,9th,71,69,14,Charter,1635,1043130
Thomas High School,37539,Noah Erickson,M,9th,86,76,14,Charter,1635,1043130

In [25]:
schooltype = schoolname["type"].unique()
totalstudents = schoolname["size"].unique()
totalbudget = schoolname["budget"].unique()
perstu = totalbudget/totalstudents
ave_math_score = schoolname["math_score"].mean()
ave_read_score = schoolname["reading_score"].mean()
perstu.head()

school_name
Bailey High School      [628.0]
Cabrera High School     [582.0]
Figueroa High School    [639.0]
Ford High School        [644.0]
Griffin High School     [625.0]
dtype: object

In [10]:
PassingM = sn[sn["math_score"] >= 70].groupby("school_name")
passingmath = PassingM["Student ID"].count()
PctMath = (passingmath / totalstudents)*100
PassingR = sn[sn["reading_score"] >= 70].groupby("school_name")
passingread = PassingR["Student ID"].count()
PctRead = (passingread / totalstudents)*100

In [11]:
PassingB = sn[(sn["math_score"] >= 70) & (sn["reading_score"] >= 70)].groupby("school_name")
passingboth = PassingB["Student ID"].count()
PctBoth = (passingboth / totalstudents)*100
PctBoth.head()

school_name
Bailey High School       [54.64228295819936]
Cabrera High School      [91.33476856835307]
Figueroa High School     [53.20447609359105]
Ford High School        [54.289886820007304]
Griffin High School      [90.59945504087193]
dtype: object

In [27]:
school_summary = pd.DataFrame({
    "School Type": schooltype,
    "Total Students" : totalstudents,
    "Total School Budget" : totalbudget,
    "Per Student Budget" : perstu,    
    "Average Math Score" : ave_math_score,
    "Average Reading Score" : ave_read_score,
    "% Passing Math" : PctMath,
    "% Passing Reading": PctRead,
    "% Overall Passing" : PctBoth})
school_summary["Total Students"] = school_summary["Total Students"].astype(float)
school_summary["Total School Budget"] = school_summary["Total School Budget"].astype(float)
school_summary["Average Math Score"] = school_summary["Average Math Score"].astype(float)
school_summary["Average Reading Score"] = school_summary["Average Reading Score"].astype(float)
school_summary["Per Student Budget"] = school_summary["Per Student Budget"].astype(float)
school_summary["% Passing Math"] = school_summary["% Passing Math"].astype(float)
school_summary["% Passing Reading"] = school_summary["% Passing Reading"].astype(float)
school_summary["% Overall Passing"] = school_summary["% Overall Passing"].astype(float)
school_summary["School Type"] = school_summary["School Type"].astype(str)
school_summary["School Type"] = school_summary["School Type"].str[2:-2]
school_summary.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976.0,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858.0,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949.0,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739.0,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468.0,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455

In [28]:
top_schools = school_summary.sort_values(["% Overall Passing"], ascending = False)
top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,1858.0,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635.0,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468.0,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283.0,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962.0,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541

In [29]:
bottom_schools = school_summary.sort_values(["% Overall Passing"], ascending = True)
bottom_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,District,3999.0,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949.0,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917.0,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635.0,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761.0,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172

In [32]:
grade9 = school_data.loc[school_data["grade"] == "9th"]
grade10 = school_data.loc[school_data["grade"] == "10th"]
grade11 = school_data.loc[school_data["grade"] ==  "11th"]
grade12 = school_data.loc[school_data["grade"] == "12th"]

In [33]:
math9 = grade9.groupby("school_name")
mathave9 = math9["math_score"].mean()
math10 = grade10.groupby("school_name")
mathave10 = math10["math_score"].mean()
math11 = grade11.groupby("school_name")
mathave11 = math11["math_score"].mean()
math12 = grade12.groupby("school_name")
mathave12 = math12["math_score"].mean()

In [34]:
math_by_grade = pd.DataFrame({"9th" : mathave9,
                              "10th" : mathave10,
                              "11th" : mathave11,
                              "12th" : mathave12,
})
math_by_grade.head()

                            9th       10th       11th       12th
school_name
Bailey High School    77.083676  76.996772  77.515588  76.492218
Cabrera High School   83.094697  83.154506  82.765560  83.277487
Figueroa High School  76.403037  76.539974  76.884344  77.151369
Ford High School      77.361345  77.672316  76.918058  76.179963
Griffin High School   82.044010  84.229064  83.842105  83.356164

In [35]:
read9 = grade9.groupby("school_name")
readave9 = read9["reading_score"].mean()
read10 = grade10.groupby("school_name")
readave10 = read10["reading_score"].mean()
read11 = grade11.groupby("school_name")
readave11 = read11["reading_score"].mean()
read12 = grade12.groupby("school_name")
readave12 = read12["reading_score"].mean()
read_by_grade = pd.DataFrame({"9th" : readave9,
                              "10th" : readave10,
                              "11th" : readave11,
                              "12th" : readave12,
})
read_by_grade.head()

                            9th       10th       11th       12th
school_name
Bailey High School    81.303155  80.907183  80.945643  80.912451
Cabrera High School   83.676136  84.253219  83.788382  84.287958
Figueroa High School  81.198598  81.408912  80.640339  81.384863
Ford High School      80.632653  81.262712  80.403642  80.662338
Griffin High School   83.369193  83.706897  84.288089  84.013699

In [36]:
bins = [0,584,629,644,675]
range_names = ["<$584","$585-629","$630-644","$645-675"]
school_summary["Spending Ranges (Per Student)"] = pd.cut(school_summary["Per Student Budget"], bins, labels = range_names)
school_summary.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
school_name,,,,,,,,,,
Bailey High School,District,4976.0,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,54.642283,$585-629
Cabrera High School,Charter,1858.0,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769,<$584
Figueroa High School,District,2949.0,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476,$630-644
Ford High School,District,2739.0,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,54.289887,$630-644
Griffin High School,Charter,1468.0,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455,$585-629

In [43]:
spendrange = school_summary[["Average Math Score","Average Reading Score","% Passing Math","% Passing Reading","% Overall Passing","Spending Ranges (Per Student)"]]
spendrange.head()
spendrange = spendrange.groupby(["Spending Ranges (Per Student)"])
spendscore = spendrange.mean()
spendscore.head()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$584,83.455399,83.933814,93.460096,96.610877,90.369459
$585-629,81.899826,83.155286,87.133538,92.718205,81.418596
$630-644,78.518855,81.624473,73.484209,84.391793,62.857656
$645-675,76.997210,81.027843,66.164813,81.133951,53.526855

In [44]:
bins2 = [0,1000,2000,5000]
range_names2 = ["Small (<1000)","Medium (1000-2000)","Large (2000-5000)"]
school_summary["School Size"] = pd.cut(school_summary["Total Students"], bins = bins2, labels = range_names2)
school_summary.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student),School Size
school_name,,,,,,,,,,,
Bailey High School,District,4976.0,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,54.642283,$585-629,Large (2000-5000)
Cabrera High School,Charter,1858.0,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769,<$584,Medium (1000-2000)
Figueroa High School,District,2949.0,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476,$630-644,Large (2000-5000)
Ford High School,District,2739.0,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,54.289887,$630-644,Large (2000-5000)
Griffin High School,Charter,1468.0,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455,$585-629,Medium (1000-2000)

In [46]:
sizerange = school_summary[["Average Math Score","Average Reading Score","% Passing Math","% Passing Reading","% Overall Passing","School Size"]]
sizerange.head()
sizerange = sizerange.groupby(["School Size"])
sizescore = sizerange.mean()
sizescore.head()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003